<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meu site em Flask</title>
</head>
<body>
    <h1>Meu site em Flask</h1>

    <p>
        lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <p>
        <a href="/">Home</a>
        <a href="/contatos">Contatos</a>
    </p>

    <h5>Alguns usuários</h5>
    <ul>
        <li><a href="/usuarios/jhon">Jhon Doe</a></li>
        <li><a href="/usuarios/jane">Jane Doe</a></li>
        <li><a href="/usuarios/fulano">Fulano Silva</a></li>
        <li><a href="/usuarios/beltrano">Beltrano Silva</a></li>
    </ul>
</body>
</html>